@import 'App';
@import './Variables.styles.scss';
@import './components.styles/Header.styles.scss';
@import './components.styles/Footer.styles.scss';
@import './components.styles/List.styles.scss';
@import './components.styles/InputBox.styles.scss';
@import './components.styles/Button.styles.scss';

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $FontDefault;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $AliceBlue;
  color: $DarkJungleGreen;
}
